---
export interface Props {
  url: URL
}

const { url } = Astro.props
const user = url.pathname.split('/')[1]
const videoId = url.pathname.split('/')[3]
const userUrl = 'https://www.tiktok.com/' + user + '?refer=embed'
---

<div class="tiktok-wrapper">
  <blockquote class="tiktok-embed" cite={url.toString()} data-video-id={videoId}>
    <section>
      <a target="_blank" title={user} href={userUrl}>{user}</a>
    </section>
  </blockquote>
</div>

<script is:inline data-astro-rerun>
  ;(() => {
    const renderTikTokEmbeds = () => {
      document.querySelectorAll('script[data-tiktok-embed]').forEach((script) => {
        script.remove()
      })

      const script = document.createElement('script')
      script.async = true
      script.dataset.tiktokEmbed = 'true'
      script.src = 'https://www.tiktok.com/embed.js'
      document.body.appendChild(script)
    }

    renderTikTokEmbeds()
  })()
</script>

<style>
  .tiktok-wrapper {
    max-width: 360px;
    overflow-x: auto;
    margin: 1.5rem auto;
    border-radius: 8px;
  }

  blockquote.tiktok-embed {
    min-width: 325px;
    margin: 0;
  }
</style>
