---
import styles from '../../styles/page.module.css'
---

<div style="text-align: center;">
  <div className={styles.sectionContainer}>
    <div className={styles.sectionContainer}>
      <div className={styles.image}></div>
      <div className={styles.text}>
        <h3>About</h3>
        <p>
          テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
        </p>
      </div>
    </div>
  </div>
  <div className={styles.sectionContainer}>
    <div className={styles.sectionContainer}>
      <div className={styles.image}></div>
      <div className={styles.text}>
        <h3>About</h3>
        <p>
          テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
        </p>
      </div>
    </div>
  </div>
</div>
