---
import styles from '../../styles/page.module.css'
---

<div style="text-align: center; margin:100px 0">
  <div className={styles.sectionContainer}>
    <div className={styles.sectionContainer}>
      <div className={styles.image}>
        <a
          href="https://suzuri.jp/crossn/digital_products/4871"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img src="../../page/tmg-fb.png" />
        </a>
      </div>
      <div className={styles.image}>
        <a
          href="https://suzuri.jp/crossn/digital_products/7685"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img src="../../page/palette.png" />
        </a>
      </div>
    </div>
  </div>
  <div className={styles.sectionContainer}>
    <div className={styles.sectionContainer}>
      <div className={styles.image}>
        <a
          href="https://suzuri.jp/crossn/digital_products/7686"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img src="../../page/saiban02.png" />
        </a>
      </div>
      <div className={styles.image}>
        <img src="../../page/tegaki-note02.jpg" />
      </div>
    </div>
  </div>
</div>

<style>
  a {
    flex-basis: 40%;
    padding: 1%;
  }
  img {
    width: 100%;
    object-fit: cover;
  }
</style>
