---
import styles from '../../styles/page.module.css'
---

<div style="text-align: center; margin:100px 0">
  <div className={styles.sectionContainer}>
    <div className={styles.sectionContainer}>
      <div className={styles.image}>
        <img src="../../page/tmg-fb.png" />
      </div>
      <div className={styles.image} style="margin-left:20px;">
        <img src="../../page/palette.png" />
      </div>
    </div>
  </div>
  <div className={styles.sectionContainer}>
    <div className={styles.sectionContainer}>
      <div className={styles.image}>
        <img src="../../page/saiban02.png" />
      </div>
      <div className={styles.image} style="margin-left:20px;">
        <img src="../../page/tegaki-note02.jpg" />
      </div>
    </div>
  </div>
</div>
